.footer {
    display: flex;
    flex-direction: column;
    background: #1a1a1a;
    color: white;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer div {
    margin-bottom: 20px;
}

.footer-left {
    max-width: 440px;
    padding-left: 20px;
}

.footer-left h3 {
    margin-bottom: 35px;
    font-size: 47px;
    max-width: 300px;
}

.footer-left p, .footer-left span {
    display: block;
    margin-bottom: 20px;
    line-height: 1.5;
}

.footer-middle {
    display: flex;
    gap: 50px;
    padding-right: 200px;
    margin-top: 45px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-images {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-bottom: 10px; 
}

.footer-images img {
    width: 70px; 
    height: 53px; 
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 13px 0;
}

.footer-line {
    width: 100%;
    height: 1px;
    background: white;
    margin: 10px 0;
}

.footer-bottom {
    text-align: left;
    font-size: 14px;
}
